.checkoutsignin .wrapperleft.wrapperCenterForPersistentCheck {
	float: none !important;
	display: block !important;
	left: auto !important;
	position: static !important;
	margin: auto !important;
}
.checkoutsignin .wrapperleft #forgotpasswd .popupmain h1 {
	line-height: 48px;
}

.myaccountexisting #loginBtnId {
	margin-right: 15px;
}
