.miniCartContainer {
	margin-top: 25px;
}
.sumEditBtn {
	margin-top: 21px;
	display: none;
}
.sumEdit {
	margin-top: 15px;
}
#step2summary {
	margin-top: 15px;
	margin-bottom: 25px;
}
.paypalSum {
	h5 {
		margin-bottom: 0px;
	}
}
.ccSum {
	.ccSumCard {
		padding: 7px;
	}
}
.billingSum {
	.billingSumTitle {
		h5 {
			margin-bottom: 0px;
		}
	}
}
.emailSum {
	.emailSumTitle {
		h5 {
			margin-bottom: 0px;
		}
	}
	.emailSumEmail {
	}
}
