/*MrEavesSansBook*/
@font-face {
	font-family: "MrEavesSansBook";
	src: url("/styles/fonts/MrEaves/MrEavesSansBookAlternates/mreavessanaltbk-071211002EmigreWebOnly.eot");
	src: url("/styles/fonts/MrEaves/MrEavesSansBookAlternates/mreavessanaltbk-071211002EmigreWebOnly.eot?#iefix")
			format("embedded-opentype"),
		url("/styles/fonts/MrEaves/MrEavesSansBookAlternates/mreavessanaltbk-071211002EmigreWebOnly.woff")
			format("woff");
}
/*MrEavesModernRegular*/
@font-face {
	font-family: "MrEavesModernRegular";
	src: url("/styles/fonts/MrEaves/MrEavesModernRegularAlternates/mreavesmodaltr-071211005EmigreWebOnly.eot");
	src: url("/styles/fonts/MrEaves/MrEavesModernRegularAlternates/mreavesmodaltr-071211005EmigreWebOnly.eot?#iefix")
			format("embedded-opentype"),
		url("/styles/fonts/MrEaves/MrEavesModernRegularAlternates/mreavesmodaltr-071211005EmigreWebOnly.woff")
			format("woff");
}
/*MrEavesSansRegularItalic*/
@font-face {
	font-family: "MrEavesSansRegularItalic";
	src: url("/styles/fonts/MrEaves/MrEavesSansRegularItalicAlternates/mreavessanaltri-071211002EmigreWebOnly.eot");
	src: url("/styles/fonts/MrEaves/MrEavesSansRegularItalicAlternates/mreavessanaltri-071211002EmigreWebOnly.eot?#iefix")
			format("embedded-opentype"),
		url("/styles/fonts/MrEaves/MrEavesSansRegularItalicAlternates/mreavessanaltri-071211002EmigreWebOnly.woff")
			format("woff");
}
/*MrEavesModernBold*/
@font-face {
	font-family: "MrEavesModernBold";
	src: url("/styles/fonts/MrEaves/MrEavesModernBoldAlternates/mreavesmodaltb-071211001EmigreWebOnly.eot");
	src: url("/styles/fonts/MrEaves/MrEavesModernBoldAlternates/mreavesmodaltb-071211001EmigreWebOnly.eot?#iefix")
			format("embedded-opentype"),
		url("/styles/fonts/MrEaves/MrEavesModernBoldAlternates/mreavesmodaltb-071211001EmigreWebOnly.woff")
			format("woff");
}
/*MrEavesSansBold*/
@font-face {
	font-family: "MrEavesSansBold";
	src: url("/styles/fonts/MrEaves/MrEavesSansBoldAlternates/mreavessanaltb-071211002EmigreWebOnly.eot");
	src: url("/styles/fonts/MrEaves/MrEavesSansBoldAlternates/mreavessanaltb-071211002EmigreWebOnly.eot?#iefix")
			format("embedded-opentype"),
		url("/styles/fonts/MrEaves/MrEavesSansBoldAlternates/mreavessanaltb-071211002EmigreWebOnly.woff")
			format("woff");
}

div.giftCardsSidebar span.giftCardsSidebarTitle {
	display: block;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.giftCardsSidebar p {
	margin-bottom: 10px;
}
/* Reset input borders for dumb iOS */
form#giftCardsForm input[type="text"] {
	-webkit-appearance: none;
	border-radius: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 27px;
}
/* Deal with dumb Mac OS fonts */
form#giftCardsForm {
	-webkit-font-smoothing: antialiased;
}
/* Fix KP's added div#giftcarddetail for SLT-1668 */
div#content div#giftcarddetail {
	width: 792px;
	margin-top: 0;
}

div#content div#giftcarddetail label {
	font-weight: normal;
}

div#giftCardsBreadcrumbs,
div#giftCardsHero,
form#giftCardsForm {
	position: relative;
	width: 710px;
	margin: 0 auto;
}

div#giftCardsBreadcrumbs {
	font-family: "MrEavesSansBold", Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 0.9em;
	padding-bottom: 24px;
}

div#giftCardsHero {
	text-align: center;
	margin-bottom: 2em;
}

div#giftCardsHero > img {
}

p#giftCardsHeroSubTitle {
	margin: 0 auto;
	width: 28em;
	line-height: 1;
	font-family: "MrEavesModernRegular", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
}

form#giftCardsForm legend {
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		Sans-Serif;
	color: #e37b00;
	font-size: 50px;
}

form#giftCardsForm fieldset#giftCardsType {
	font-family: "MrEavesModernRegular", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	text-align: center;
}

form#giftCardsForm fieldset#giftCardsType > p {
	line-height: 1;
	text-align: left;
	clear: both;
	padding-top: 10px;
}

form#giftCardsForm fieldset#giftCardsType div.giftCardsTypeWrap {
	float: left;
	width: 48%;
	height: auto;
	border: 1px solid transparent;
	cursor: pointer;
	padding: 10px;
	font-weight: normal;
	font-family: "MrEavesSans", Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 40px;
}

form#giftCardsForm
	fieldset#giftCardsType
	div.giftCardsTypeWrap#giftCards-classic {
	margin-right: 4%;
}

form#giftCardsForm
	fieldset#giftCardsType
	div.giftCardsTypeWrap#giftCards-classic
	center {
	position: relative;
}

form#giftCardsForm
	fieldset#giftCardsType
	div.giftCardsTypeWrap.giftCardType-selected {
	border: 1px solid #868686;
}

form#giftCardsForm fieldset#giftCardsType div.giftCardsTypeWrap img {
	display: block;
	margin: 10px auto;
	width: 325px;
	height: 300px;
}

form#giftCardsForm fieldset#giftCardsType div.giftCardsTypeWrap input {
	/*display:none;*/
	/*tmp rlp*/
}

form#giftCardsForm fieldset#giftCardsType div.giftCardsTypeWrap label {
	width: 220px;
	display: block;
	margin: 0 auto;
}

#checkBalance {
	display: block;
	margin: 0 auto 10px 0;
	border: 2px solid #6c8f01;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	font-family: "MrEavesSansBold", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	width: 185px;
	background-color: #6c8f01;
}

#checkBalance:hover {
	text-decoration: underline;
}

form#giftCardsForm
	fieldset#giftCardsType
	div.giftCardsTypeWrap.giftCardType-selected
	label {
	background-color: #6c8f01;
	color: #fff;
}

form#giftCardsForm fieldset#giftCardsType div.giftCardsTypeWrap p {
	text-align: left;
	width: 310px;
	padding: 0 16px;
	line-height: 1;
	margin-bottom: 10px;
}

form#giftCardsForm fieldset#giftCardsAmount {
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
}

form#giftCardsForm fieldset#giftCardsAmount div#giftCardsAmountSelection {
	width: 422px;
	float: left;
}

form#giftCardsForm fieldset#giftCardsAmount div#giftCardsAmountSelection label {
	border: 2px solid #6c8f01;
	border-radius: 5px;
	color: #6c8f01;
	width: 72px;
	margin-right: 5px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

form#giftCardsForm
	fieldset#giftCardsAmount
	div#giftCardsAmountSelection
	label.giftCardAmount-selected {
	background-color: #6c8f01;
	color: white;
}

form#giftCardsForm
	fieldset#giftCardsAmount
	div#giftCardsAmountSelection
	label
	input {
	/*display:none;*/
	/*tmp rlp*/
}

form#giftCardsForm fieldset#giftCardsAmount div#giftCardsAmountCustom {
	width: 285px;
	height: 69px;
	border: 2px solid #6c8f01;
	border-radius: 5px;
	float: left;
	position: relative;
	color: #6c8f01;
	padding: 0 5px;
}

form#giftCardsForm
	fieldset#giftCardsAmount
	div#giftCardsAmountCustom
	span#giftCardsAmountCustomTitle {
	position: relative;
	/*display:block;*/
	left: 8px;
}

form#giftCardsForm fieldset#giftCardsAmount div#giftCardsAmountCustom label {
	font-size: 24px;
	line-height: 1;
}

form#giftCardsForm
	fieldset#giftCardsAmount
	div#giftCardsAmountCustom
	input#giftCardsAmountSelect-custom {
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 21px;
	line-height: 1;
	width: 88px;
	height: 26px;
	text-align: center;
	border: 1px solid #ababab;
}

form#giftCardsForm fieldset#giftCardsAmount div#giftCardsAmountCustom div {
	border: 2px solid #6c8f01;
	padding: 1px 6px 5px 5px;
	border-radius: 5px;
	width: 50px;
	height: 25px;
	position: absolute;
	top: 32px;
	right: 117px;
	line-height: 0.9;
	cursor: pointer;
}

form#giftCardsForm
	fieldset#giftCardsAmount
	div#giftCardsAmountCustom
	div:hover {
	color: #fff;
	background-color: #6c8f01;
}

form#giftCardsForm fieldset#giftCardsAmount div#giftCardsAmountCustom p {
	font-size: 18px;
	position: absolute;
	right: 5px;
	top: 25px;
	line-height: 1;
	color: #000;
	text-align: right;
}

form#giftCardsForm fieldset#giftCardDatepicker-error,
form#giftCardsForm
	fieldset#giftCardsAmount
	div#giftCardsAmountCustom
	span#giftCardsAmountCustomError {
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		sans-serif;
	font-weight: normal;
	position: absolute;
	bottom: -40px;
	left: 15px;
	line-height: 1;
	color: #f00;
	display: none;
	font-size: 16px;
}

form#giftCardsForm fieldset#giftCards-eGiftDate,
form#giftCardsForm fieldset#giftCardsAmount,
form#giftCardsForm fieldset#giftCardsDesign,
form#giftCardsForm fieldset#giftCardsPersonalize,
form#giftCardsForm fieldset#giftCardsReview,
form#giftCardsForm fieldset#giftCardsSubmit {
	/*display:none;*/
	/*tmp rlp*/
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardDesignSelectChoice,
form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignSelect {
	float: left;
}

form#giftCardsForm .show-designs {
	vertical-align: middle;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardDesignSelectChoice {
	width: 300px;
	height: 190px;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignSelect > span {
	margin-left: 25px;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignSelect select {
	min-width: 176px;
	margin-bottom: 10px;
	border: 1px solid #ababab;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignSelect {
	padding-left: 10px;
	width: 400px;
	height: 190px;
	font-family: "MrEavesModernBold", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
}

form#giftCardsForm
	fieldset#giftCardsDesign
	div#giftCardsDesignSelect
	div#giftCardsDesignSelectCarousel {
	height: 150px;
	width: 400px;
}

form#giftCardsForm
	fieldset#giftCardsDesign
	div#giftCardsDesignSelect
	div#giftCardsDesignSelectCarousel
	> div {
	height: 150px;
	float: left;
}

form#giftCardsForm
	fieldset#giftCardsDesign
	div#giftCardsDesignSelect
	div#giftCardsDesignSelectCarousel
	div.giftCardsDesignSelectCarousel-arrow {
	width: 20px;
}

form#giftCardsForm
	fieldset#giftCardsDesign
	div#giftCardsDesignSelect
	div#giftCardsDesignSelectCarousel
	div.giftCardsDesignSelectCarousel-arrow
	> div {
	position: relative;
	top: 60px;
	cursor: pointer;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #6c8f01;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #6c8f01;
}

form#giftCardsForm
	fieldset#giftCardsDesign
	div#giftCardsDesignSelect
	div#giftCardsDesignSelectCarousel
	div#giftCardsDesignSelectCarousel-designs {
	width: 353px;
	height: 156px;
	padding-left: 3px;
	overflow: hidden;
	white-space: nowrap;
}

form#giftCardsForm
	fieldset#giftCardsDesign
	div#giftCardsDesignSelect
	div#giftCardsDesignSelectCarousel
	div#giftCardsDesignSelectCarousel-designs
	> img {
	display: inline-block;
	height: 70px;
	width: 111px;
	border: 2px solid transparent;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	left: 0;
}

form#giftCardsForm
	fieldset#giftCardsDesign
	div#giftCardsDesignSelect
	div#giftCardsDesignSelectCarousel
	div#giftCardsDesignSelectCarousel-designs
	> img.giftCardDesignSelected {
	border: 2px solid #6c8f01;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignQuantity {
	position: relative;
	margin-top: 5px;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignQuantity input {
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 21px;
	width: 35px;
	text-align: center;
	border: 1px solid #ababab;
	vertical-align: middle;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignQuantity div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

form#giftCardsForm fieldset#giftCardsDesign div#giftCardsDesignQuantity span {
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		Sans-Serif;
	color: red;
	font-size: 20px;
	margin-left: 60px;
}

form#giftCardsForm fieldset#giftCardsPersonalize > div {
	width: 300px;
	float: left;
	margin-right: 40px;
	font-family: "MrEavesModernBold", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	position: relative;
}

form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div#giftCardsPersonalizeRecipient {
	height: 225px;
}

form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div#giftCardsPersonalizeMessage {
	height: 205px;
}

form#giftCardsForm fieldset#giftCardsPersonalize > div input {
	/*display:block;*/
	border: 1px solid #ababab;
	margin: 5px 0;
	width: 100%;
}

form#giftCardsForm fieldset#giftCardsPersonalize > div span {
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		Sans-Serif;
	height: 21px;
	/* display:block;*/
}

form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div#giftCardsPersonalizeMessage
	span,
form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div#giftCardsPersonalizeRecipient
	label
	span {
	display: inline;
}

form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div
	span#giftCardsPersonalize-recipientNameError {
	height: 22px;
}

form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div
	span#giftCardsPersonalize-emailConfirmError,
form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div
	span#giftCardsPersonalize-emailError,
form#giftCardsForm
	fieldset#giftCardsPersonalize
	> div
	span#giftCardsPersonalize-recipientNameError {
	color: red;
	line-height: 1;
	font-size: 14px;
	display: block;
}

form#giftCardsForm fieldset#giftCards-eGiftDate {
	font-family: "MrEavesModernBold", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	margin-top: 20px;
}

form#giftCardsForm fieldset#giftCards-eGiftDate a {
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		sans-serif;
	font-size: 16px;
}

form#giftCardsForm fieldset#giftCards-eGiftDate input {
	margin-right: 5px;
	border: 1px solid #ababab;
}

form#giftCardsForm fieldset#giftCards-eGiftDate input#giftCardDatepicker {
	margin-left: 5px;
	width: 86px;
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
}

form#giftCardsForm fieldset#giftCards-eGiftDate .ui-datepicker-trigger {
	position: relative;
	top: 4px;
}

form#giftCardsForm fieldset#giftCards-eGiftDate span#giftCardDatepicker-error {
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		Sans-Serif;
	padding-left: 10px;
	color: red;
}
/*
Removed for SLT-1684
form#giftCardsForm fieldset#giftCards-eGiftDate span#giftCardDatepicker-example {
    font-family: 'MrEavesSansRegularItalic',Verdana,Arial,Helvetica,Sans-Serif;
    position: relative;
    left: 138px;
    top: 0px;
    font-size: 14px;
}*/
form#giftCardsForm fieldset#giftCardsReview {
	visibility: hidden;
	font-size: 18px;
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, Sans-Serif;
	position: fixed;
	left: 0;
	width: 220px;
	min-height: 230px;
	border: 2px solid #868686;
	background-color: #fff;
	padding: 10px;
	-webkit-box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.15);
}

form#giftCardsForm fieldset#giftCardsReview p {
	line-height: 1;
	width: 190px;
}

form#giftCardsForm fieldset#giftCardsReview legend {
	line-height: 0.5;
}

form#giftCardsForm fieldset#giftCardsReview .giftCardsReview-header {
	font-family: "MrEavesModernBold", Verdana, Arial, Helvetica, Sans-Serif;
	margin-bottom: 0;
}

form#giftCardsForm
	fieldset#giftCardsReview
	.giftCardsReview-header#giftCardsReview-summary {
	margin: 5px 0;
	font-size: 23px;
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, Sans-Serif;
}

form#giftCardsForm fieldset#giftCardsReview p#giftCardsReview-design {
	font-family: "MrEavesModernBold", Verdana, Arial, Helvetica, Sans-Serif;
	margin-bottom: 0;
}

form#giftCardsForm fieldset#giftCardsReview p#giftCardsReview-design span {
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, Sans-Serif;
	padding-left: 10px;
	text-indent: -10px;
	display: block;
}

form#giftCardsForm fieldset#giftCardsReview > img {
	margin-left: 5px;
	width: 111px;
	height: 70px;
	margin-top: 10px;
}

form#giftCardsForm fieldset#giftCardsReview p#giftCardsReview-recipient {
	line-height: 1;
	display: none;
	margin: 10px 0 0;
	word-wrap: break-word;
}

form#giftCardsForm fieldset#giftCardsReview p#giftCardsReview-recipient br {
	line-height: 0;
}

form#giftCardsForm
	fieldset#giftCardsReview
	p#giftCardsReview-recipient
	span:nth-child(n + 2) {
	display: none;
	word-wrap: break-word;
	width: inherit;
	text-indent: -10px;
	padding-left: 10px;
	/* Fix for non-space wrapping ticket SLT-1635, based on http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
	-ms-word-break: break-all;
	word-break: break-word;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

form#giftCardsForm
	fieldset#giftCardsReview
	p#giftCardsReview-recipient
	span#giftCardsReview-recipientDate {
	display: block;
}

form#giftCardsForm fieldset#giftCardsReview p#giftCardsReview-message {
	line-height: 1;
	display: none;
	margin: 10px 0 0;
	word-wrap: break-word;
}

form#giftCardsForm
	fieldset#giftCardsReview
	p#giftCardsReview-message
	span:nth-child(n + 3) {
	word-wrap: break-word;
	width: inherit;
	padding-left: 10px;
	text-indent: -10px;
	min-height: 21px;
	height: auto;
	position: relative;
	top: 5px;
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		Sans-Serif;
	/* Fix for non-space wrapping ticket SLT-1635, based on http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	display: block;
}

form#giftCardsForm fieldset#giftCardsReview p#giftCardsReview-message br {
	line-height: 0;
}

form#giftCardsForm
	fieldset#giftCardsReview
	span#giftCardsReview-previewActivate {
	margin: 10px 0;
	padding-bottom: 2px;
	display: block;
}

form#giftCardsForm
	fieldset#giftCardsReview
	span#giftCardsReview-previewActivate:hover {
}

form#giftCardsForm fieldset#giftCardsReview div#giftCardsReview-preview {
	display: none;
	position: absolute;
	top: -13px;
	left: 210px;
	-webkit-box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.25);
	border: 2px solid #868686;
	background-color: #fff;
	padding: 10px;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview
	span.giftCardsReview-previewClose {
	font-family: "MrEavesModernRegular", Verdana, Arial, Helvetica, sans-serif;
	background: url("/styles/images/quick_view_popup_x.gif") no-repeat scroll
		right center transparent;
	padding: 0;
	margin: 0;
	float: right;
	width: 52px;
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.classicPreview
	div#giftCardsReview-previewMessage {
	text-align: center;
	line-height: 1;
	position: absolute;
	width: 217px;
	font-size: 12px;
	top: 197px;
	left: 114px;
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		Sans-Serif;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.egiftPreview
	div#giftCardsReview-previewMessage {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 15px;
	color: #fff;
	text-align: left;
	position: absolute;
	top: 491px;
	left: 140px;
	line-height: 1;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.egiftPreview
	span#giftCardsReview-previewAmount {
	font-family: Arial, Helvetica, Sans-Serif;
	line-height: 1;
	font-size: 15px;
	position: absolute;
	top: 469px;
	left: 140px;
	color: #fff;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.egiftPreview
	span#giftCardsReview-previewRecipent {
	font-family: Arial, Helvetica, Sans-Serif;
	line-height: 1;
	font-size: 15px;
	position: absolute;
	top: 424px;
	left: 140px;
	color: #fff;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.egiftPreview
	span#giftCardsReview-previewSender {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	font-size: 15px;
	position: absolute;
	top: 447px;
	left: 140px;
	color: #fff;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.classicPreview
	span#giftCardsReview-previewAmount,
form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.classicPreview
	span#giftCardsReview-previewRecipent {
	display: none;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview
	img#giftCardsReview-previewDesign {
	position: absolute;
	top: 413px;
	left: 122px;
	border: 2px solid transparent;
	border-radius: 19px;
	width: 200px;
	height: 127px;
}

form#giftCardsForm
	fieldset#giftCardsReview
	div#giftCardsReview-preview.egiftPreview
	img#giftCardsReview-previewDesign {
	display: none;
}
/* button CSS moved to ui_sources/global/_controls.scss */
form#giftCardsForm fieldset#giftCardsSubmit a.button {
	margin-bottom: 15px;
}

form#giftCardsForm fieldset#giftCardsSubmit a.button.addToCart {
	margin-right: 15px;
}

form#giftCardsForm fieldset#giftCardsSubmit {
	margin-top: 50px;
}

form#giftCardsForm fieldset#giftCardsSubmit span {
	font-family: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
		Sans-Serif;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
}

form#giftCardsForm .pick {
	display: none;
}

form#giftCardsForm .pick-virtual {
	display: none;
}

.radio-hide {
	display: none;
}

#giftCardsDesignSelect #giftCardsProductSelect-classic,
#giftCardsDesignSelect #giftCardsProductSelect-eGift {
	display: none;
	margin-left: 25px;
}

#check_gift_card_balance fieldset dl dt {
	width: 100%;
	text-align: left;
	padding-right: 2%;
	word-wrap: break-word;
}

#checkBalance.selected {
	color: white;
	background-color: #6c8f01;
}

.giftCardsSidebar #acctCheckCardBalanceLookup {
	/* position: absolute; */
	position: relative;
	/* overflow: auto; */
	overflow: visible;
	width: 100%;
	/* display: none; */
	z-index: 810;
}

#acctCheckCardBalanceLookup input {
	width: 190px;
}

div#sidebar ul {
	margin-left: 0;
}

#giftCards-eGiftDate .whatever {
	position: relative;
	top: 0;
	left: 0;
}

#acctCheckCardBalanceLookup div.actions {
	margin-top: -10px;
}

#acctCheckCardBalanceLookup #remainingBalanceId {
	margin-bottom: 0;
}

#acctCheckCardBalanceLookup div.actions a.clear {
	/* charcoal */
	border-bottom: dotted 1px #444444;
	float: right;
	margin-right: 0;
}

#acctCheckCardBalanceLookup div.actions a.clear:hover {
	color: #5c2946;
	/* eggplant */
}

div#sidebar a.terms {
	border-bottom: 1px dotted #444;
}

div#giftCardSocialIcons {
	margin-top: 20px;
}

#acctHowToRedeemGiftCard p.last {
	margin-left: 20px;
	margin-right: 20px;
	font-weight: normal;
	width: 90%;
}
