/*
	name:	Gift Registry Search Help Popup
	file:	giftPopHelp.css
*/
#giftaddgiftcardtoregistry {
	background-image: url(../images/pop_up_box_top_midsize.gif);
	background-position: top left;
	background-repeat: no-repeat;
	position: absolute;
	_position: absolute; /* hack for internet explorer 6*/
	width: 567px;
	display: none;
	z-index: 1010;
}
#giftaddgiftcardtoregistry .box {
	clear: both;
	background-image: url(../images/pop_up_box_btm_midsize.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: White;
	padding: 0 16px 16px 16px;
	overflow: auto;
}
#giftaddgiftcardtoregistry h5 {
	float: left;
	color: White;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
	padding-left: 16px;
	width: 412px;
	display: inline;
}
#giftaddgiftcardtoregistry a.close {
	background: url(../images/popup_box_close_x.gif) no-repeat right center;
	padding-right: 18px;
	margin-right: 18px;
	color: White;
	border: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 35px;
	float: right;
	display: inline;
}
#giftaddgiftcardtoregistry a.close:hover {
	text-decoration: underline;
}
#giftaddgiftcardtoregistry .dialogtitle {
	margin: 0 0 12px 0;
	font-size: 21px;
	font-weight: normal;
	line-height: 35px;
}
#giftaddgiftcardtoregistry .actions {
	margin: 16px 0 16px 0;
}
/*
*html #giftaddgiftcardtoregistry .actions
{
    text-align: center;
    margin-left: auto;
    margin-bottom: 24px;
    margin-top: 10px;
    margin-right: auto;
}*/
#giftaddgiftcardtoregistry .actions a {
	float: right;
}
#giftaddgiftcardtoregistry .actions a.link {
	margin-right: 12px;
}
