/* ********************************************
		Home Page Feature
   ******************************************** */
.hpfeature .ui-tabs-panel {
	float: left;
	display: inline;
}
.hpfeature {
	margin-bottom: 16px;
}
.hpfeature .box {
	width: 990px;
	background: url(../images/feature_box_btm.gif) no-repeat left bottom;
	overflow: auto;
	padding: 0;
	margin: 0;
}
.hpfeature .box .boxtop {
	height: 16px;
	width: 990px;
	background: url(../images/feature_box_top.gif) no-repeat left top;
}
.hpfeature .box .story {
	float: left;
	display: inline;
	width: 390px;
	padding-left: 17px;
	margin-right: 30px;
}
.hpfeature .box .story h2 {
	font-size: 21px;
	padding: 0;
	margin: 0 0 12px 0;
	line-height: 1em;
}
.hpfeature .box .story h3 {
	font-size: 14px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	margin: 0 0 12px 0;
	line-height: 1em;
}
.hpfeature .box .story p {
	font-size: 13px;
}
/* ***********************************************
			Story Image
   *********************************************** */
.hpfeature .box .storyimage {
	float: left;
	display: inline;
	width: 303px;
	height: 222px;
	padding: 0 0 0 0;
	margin-right: 12px;
	border: solid 1px #aaaaaa;
}
/* ***********************************************
			Story Choices
   *********************************************** */
.hpfeature .box .storychoices {
	float: left;
	display: inline;
	width: 236px;
	margin-top: -16px;
}
.hpfeature .box .storychoices ul,
.hpfeature .box .storychoices ul li,
.hpfeature .box .storychoices ul li a,
.hpfeature .box .storychoices ul li a span {
	margin: 0;
	border: 0;
	outline: 0;
}
.hpfeature .box .storychoices ul li a.top {
	height: 50px;
	line-height: 50px;
	display: block;
}

* html .hpfeature .box .storychoices ul li a.top {
	height: 50px;
	line-height: 50px;
	display: block;
	margin-top: -1px;
}

.hpfeature .box .storychoices ul li a.middle {
	height: 51px;
	line-height: 51px;
	display: block;
}
.hpfeature .box .storychoices ul li a.bottom {
	height: 52px;
	line-height: 52px;
	display: block;
}
.hpfeature .box .storychoices ul li a {
	width: 210px;
	padding-left: 26px;
	color: #444444;
	font-weight: bold;
}
.hpfeature .box .storychoices ul li a span {
	display: block;
	font-size: 1.2em;
	text-align: left;
	padding-left: 16px;
	width: 194px;
}
.hpfeature .box .storychoices li.ui-tabs-selected a {
	color: White;
}
/* ***********************************************
			Feature Buttons
   *********************************************** */
.hpfeature a.button {
	clear: both;
	float: left;
	display: inline;
	font: bold 11px verdana, sans-serif;
	color: white;
	margin: 0;
	padding: 0 0 0 4px;
	border-bottom: none;
}
.hpfeature a.button span {
	float: left;
	padding: 0 28px 0 6px;
	height: 23px;
	line-height: 23px;
}
.hpfeature .ui-tabs-hide {
	display: none;
}
/* 
		Hovering
*/
.hpfeature.colorset-1 .box .storychoices li a.top:hover {
	background: url(../images/feature_btn_ovr_top.gif) no-repeat right bottom;
}
.hpfeature.colorset-1 .box .storychoices li a.middle:hover {
	background: url(../images/feature_btn_ovr_mdl.gif) no-repeat right bottom;
}
.hpfeature.colorset-1 .box .storychoices li a.bottom:hover {
	background: url(../images/feature_btn_ovr_btm.gif) no-repeat right bottom;
}
/* ********************************************
		Color Set - 1
   ******************************************** */
.hpfeature.colorset-1 .box .storychoices li a.top {
	background: url(../images/feature_btn_off_top.gif) no-repeat right top;
}
.hpfeature.colorset-1 .box .storychoices li.ui-tabs-selected a.top {
	background: url(../images/feature_btn_on_top.gif) no-repeat right top;
}
.hpfeature.colorset-1 .box .storychoices li a.middle {
	background: url(../images/feature_btn_off_mdl.gif) no-repeat right bottom;
}
.hpfeature.colorset-1 .box .storychoices li.ui-tabs-selected a.middle {
	background: url(../images/feature_btn_on_mdl.gif) no-repeat right bottom;
}
.hpfeature.colorset-1 .box .storychoices li.middle a.shadow {
	background: url(../images/feature_btn_off_mdl_sdw.gif) no-repeat right
		bottom;
}
.hpfeature.colorset-1 .box .storychoices li a.bottom {
	background: url(../images/feature_btn_off_btm.gif) no-repeat right bottom;
}
.hpfeature.colorset-1 .box .storychoices li.ui-tabs-selected a.bottom {
	background: url(../images/feature_btn_on_btm.gif) no-repeat right bottom;
}
.hpfeature.colorset-1 .box .storychoices li.bottom a.shadow {
	background: url(../images/feature_btn_off_btm_sdw.gif) no-repeat right
		bottom;
}

/* 
		Buttons
*/
.hpfeature.colorset-1 a.button {
	background: url(../images/action_button_left.gif) no-repeat left top;
}
.hpfeature.colorset-1 a.button span {
	background: url(../images/action_button_right.gif) no-repeat right top;
}
/* ********************************************
		Color Set - 2
   ******************************************** */
.hpfeature.colorset-2 .box .storychoices li a.top {
	background: url(../images/orange_btn_off_top.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li.ui-tabs-selected a.top {
	background: url(../images/orange_btn_on_top.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li a.middle {
	background: url(../images/orange_btn_off_mdl.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li.ui-tabs-selected a.middle {
	background: url(../images/orange_btn_on_mdl.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li a.shadow {
	background: url(../images/orange_btn_off_mdl_sdw.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li a.bottom {
	background: url(../images/orange_btn_off_btm.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li.ui-tabs-selected a.bottom {
	background: url(../images/orange_btn_on_btm.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li a.shadow {
	background: url(../images/orange_btn_off_btm_sdw.gif) no-repeat right bottom;
}
/* 
		Hovering
*/
.hpfeature.colorset-2 .box .storychoices li a.top:hover {
	background: url(../images/orange_btn_ovr_top.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li a.middle:hover {
	background: url(../images/orange_btn_ovr_mdl.gif) no-repeat right bottom;
}
.hpfeature.colorset-2 .box .storychoices li a.bottom:hover {
	background: url(../images/orange_btn_ovr_btm.gif) no-repeat right bottom;
}
/* 
		Buttons
*/
.hpfeature.colorset-2 a.button {
	background: url(../images/o_action_button_left.gif) no-repeat left top;
}
.hpfeature.colorset-2 a.button span {
	background: url(../images/o_action_button_right.gif) no-repeat right top;
}

/* ********************************************
		Category Page Feature - Shared Styles
   ******************************************** */
.catgfeature .ui-tabs-panel {
	float: left;
	display: inline;
}
.catgfeature {
	margin-bottom: 16px;
	clear: both;
}
.catgfeature .box {
	width: 792px;
	background: url(../images/content_box2_btm.gif) no-repeat left bottom;
	overflow: auto;
	padding: 0;
	margin: 0;
}
.catgfeature .box .boxtop {
	height: 16px;
	width: 792px;
	background: url(../images/content_box2_top.gif) no-repeat left top;
}
.catgfeature .box .story {
	float: left;
	display: inline;
	width: 273px;
	padding-left: 17px;
	margin-right: 30px;
}
.catgfeature .box .story h2.header {
	font-size: 21px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 12px 0;
	line-height: 21px;
}
.catgfeature .box .story h3 {
	font-size: 14px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	margin: 0 0 12px 0;
	line-height: 1em;
}
.catgfeature .box .story p {
	font-size: 13px;
}
/* ***********************************************
			Story Image
   *********************************************** */
.catgfeature .box .storyimage {
	float: left;
	display: inline;
	width: 222px;
	height: 222px;
	padding: 0 0 0 0;
	margin-right: 12px;
	border: solid 1px #aaaaaa;
}
/* ***********************************************
			Story Choices
   *********************************************** */
.catgfeature .box .storychoices {
	float: left;
	display: inline;
	width: 236px;
	margin-top: -16px;
}
.catgfeature .box .storychoices ul,
.catgfeature .box .storychoices ul li,
.catgfeature .box .storychoices ul li a,
.catgfeature .box .storychoices ul li a span {
	margin: 0;
	border: 0;
	outline: 0;
}
.catgfeature .box .storychoices ul li a.top {
	height: 50px;
	line-height: 50px;
	display: block;
}
.catgfeature .box .storychoices ul li a.middle {
	height: 51px;
	line-height: 51px;
	display: block;
}
.catgfeature .box .storychoices ul li a.bottom {
	height: 52px;
	line-height: 52px;
	display: block;
}
.catgfeature .box .storychoices ul li a {
	width: 210px;
	padding-left: 26px;
	color: #444444;
	font-weight: bold;
}
.catgfeature .box .storychoices ul li a span {
	display: block;
	font-size: 1.2em;
	text-align: left;
	padding-left: 16px;
}
.catgfeature .box .storychoices li.ui-tabs-selected a {
	color: White;
}
/* ***********************************************
			Feature Buttons
   *********************************************** */
.catgfeature a.button {
	clear: both;
	float: left;
	display: inline;
	font: bold 11px verdana, sans-serif;
	color: white;
	margin: 0;
	padding: 0 0 0 4px;
	border-bottom: none;
}
.catgfeature a.button span {
	float: left;
	padding: 0 28px 0 6px;
	height: 23px;
	line-height: 23px;
}
.catgfeature .ui-tabs-hide {
	display: none;
}

/* ********************************************
		Color Set - 1
   ******************************************** */
div.catgfeature.colorset-1 {
	background-color: White;
}
.catgfeature.colorset-1 .box .storychoices li a.top {
	background: url(../images/feature_btn_off_top.gif) no-repeat right top;
}
.catgfeature.colorset-1 .box .storychoices li.ui-tabs-selected a.top {
	background: url(../images/feature_btn_on_top.gif) no-repeat right top;
}
.catgfeature.colorset-1 .box .storychoices li a.middle {
	background: url(../images/feature_btn_off_mdl.gif) no-repeat right bottom;
}
.catgfeature.colorset-1 .box .storychoices li.ui-tabs-selected a.middle {
	background: url(../images/feature_btn_on_mdl.gif) no-repeat right bottom;
}
.catgfeature.colorset-1 .box .storychoices li.middle a.shadow {
	background: url(../images/feature_btn_off_mdl_sdw.gif) no-repeat right
		bottom;
}
.catgfeature.colorset-1 .box .storychoices li a.bottom {
	background: url(../images/feature_btn_off_btm.gif) no-repeat right bottom;
}
.catgfeature.colorset-1 .box .storychoices li.ui-tabs-selected a.bottom {
	background: url(../images/feature_btn_on_btm.gif) no-repeat right bottom;
}
.catgfeature.colorset-1 .box .storychoices li.bottom a.shadow {
	background: url(../images/feature_btn_off_btm_sdw.gif) no-repeat right
		bottom;
}
/* 
		Hovering
*/
.catgfeature.colorset-1 .box .storychoices li a.top:hover {
	background: url(../images/feature_btn_ovr_top.gif) no-repeat right bottom;
}
.catgfeature.colorset-1 .box .storychoices li a.middle:hover {
	background: url(../images/feature_btn_ovr_mdl.gif) no-repeat right bottom;
}
.catgfeature.colorset-1 .box .storychoices li a.bottom:hover {
	background: url(../images/feature_btn_ovr_btm.gif) no-repeat right bottom;
}
/* 
		Buttons
*/
.catgfeature.colorset-1 a.button {
	background: url(../images/action_button_left.gif) no-repeat left top;
}
.catgfeature.colorset-1 a.button span {
	background: url(../images/action_button_right.gif) no-repeat right top;
}
/* ********************************************
		Color Set - 2
   ******************************************** */
div.catgfeature.colorset-2 {
	background-color: #bbbb77;
}
.catgfeature.colorset-2 .box .storychoices li a.top {
	background: url(../images/orange_btn_off_top.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li.ui-tabs-selected a.top {
	background: url(../images/orange_btn_on_top.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li a.middle {
	background: url(../images/orange_btn_off_mdl.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li.ui-tabs-selected a.middle {
	background: url(../images/orange_btn_on_mdl.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li a.shadow {
	background: url(../images/orange_btn_off_mdl_sdw.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li a.bottom {
	background: url(../images/orange_btn_off_btm.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li.ui-tabs-selected a.bottom {
	background: url(../images/orange_btn_on_btm.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li a.shadow {
	background: url(../images/orange_btn_off_btm_sdw.gif) no-repeat right bottom;
}
/* 
		Hovering
*/
.catgfeature.colorset-2 .box .storychoices li a.top:hover {
	background: url(../images/orange_btn_ovr_top.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li a.middle:hover {
	background: url(../images/orange_btn_ovr_mdl.gif) no-repeat right bottom;
}
.catgfeature.colorset-2 .box .storychoices li a.bottom:hover {
	background: url(../images/orange_btn_ovr_btm.gif) no-repeat right bottom;
}
/* 
		Buttons
*/
.catgfeature.colorset-2 a.button {
	background: url(../images/o_action_button_left.gif) no-repeat left top;
}
.catgfeature.colorset-2 a.button span {
	background: url(../images/o_action_button_right.gif) no-repeat right top;
}
