/*
	name:		Gift Card Promotion Spotd
	file:		giftcardpromo.css
	desc:		To 
*/
#giftcardpromo {
	clear: both;
	width: 792px;
	height: 523px;
	background: url(../images/gift_cards_main.jpg) no-repeat top left;
	margin-bottom: 16px;
	overflow: auto;
}
#giftcardpromo .box {
	overflow: auto;
	padding: 10px 16px 16px 16px;
	margin: 0;
}
#giftcardpromo .primaryspacer {
	clear: both;
	float: left;
	width: 380px;
	height: 250px;
	margin-bottom: 40px;
}
#giftcardpromo .secondaryspacer {
	float: right;
	width: 380px;
}
#giftcardpromo .primary {
	float: left;
	width: 380px;
}
#giftcardpromo .secondary {
	float: right;
	width: 380px;
}
#giftcardpromo .primary img,
#giftcardpromo .secondary img {
	width: 380px;
}
#giftcardpromo a.button {
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 8px;
}
#giftcardpromo h1,
#giftcardpromo h2,
#giftcardpromo h3,
#giftcardpromo p.story {
	text-align: center;
}
#giftcardpromo h2.header {
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
	margin-bottom: 10px;
	color: #5c2946;
}
#giftcardpromo h2 {
	font-size: 24px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 10px;
}
#giftcardpromo h3 {
	font-size: 13px;
	font-weight: bold;
	line-height: 13px;
	margin-bottom: 10px;
}
#giftcardpromo p.story {
	font-size: 13px;
}
#giftcardpromo .actions {
	overflow: hidden;
}
#giftcardpromo .primary .actions {
	width: 262px;
	margin: 0 auto 0 auto;
	padding: 5px 0 5px 0;
}
#giftcardpromo .secondary .actions {
	width: 356px;
	margin: 0 auto 0 auto;
}
