#giftquestionprivacy {
	background-image: url(../images/pop_up_box_top_midsize.gif);
	background-position: top left;
	background-repeat: no-repeat;
	width: 567px;
	overflow: auto;
	margin-top: 4px;
	padding-bottom: 36px;
	display: none;
	z-index: 1010;
	left: calc(50% - 567px/2);
}
#giftquestionprivacy .box {
	background-image: url(../images/pop_up_box_btm_midsize.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	clear: both;
	width: 567px;
	overflow: auto;
	padding: 0 16px 16px 16px;
	margin: 0;
}
#giftquestionprivacy .close {
	background: url(../images/popup_box_close_x.gif) no-repeat right center;
	padding-right: 18px;
	margin-right: 18px;
	color: White;
	border: none;
	line-height: 35px;
	float: right;
}
#giftquestionprivacy a.close:hover {
	text-decoration: underline;
}

#giftquestionprivacy h2 {
	font-size: 23px;
	line-height: 48px;
	border-bottom: 1px solid #60682f;
	margin: 0 0 16px 0;
	clear: both;
	color: #60682f;
}
#giftquestionprivacy h5 {
	color: White;
	float: left;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	width: 460px;
	line-height: 35px;
	padding-left: 16px;
}
#giftquestionprivacy div.actions {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/*
*html #giftquestionprivacy div.actions
{
    margin-top:18px;
    margin-bottom: 18px;
        text-align: center;
    margin-left: auto;
    margin-right: auto;
}*/
#giftquestionprivacy a.cancel:hover {
	color: #5c2946;
	border-bottom: solid 1px #5c2946;
}
#giftquestionprivacy a.cancel {
	border-bottom: dotted 1px #444444;
	margin-right: 10px;
	float: right;
}
#giftquestionprivacy a.button {
	float: right;
}
#giftquestionprivacy p {
	clear: both;
	margin: 0 24px 0 24px;
}
