/*
**    Containing divs and structure
*/

a.arrow {
	background-image: url(/images/arrows.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: none;
	height: 39px;
	position: absolute;
	width: 15px;
	cursor: pointer;
	opacity: 0.6;
	top: 50%;
	z-index: 99;
	&:hover {
		border-bottom: 0;
		opacity: 1;
		text-decoration: none;
	}
	&.right {
		background-position: -15px 0;
		right: 0;
	}
	&.left {
		left: 0;
	}
}
/*
**    Popup Close
*/
span.product-close {
	background: url("/styles/images/quick_view_popup_x.gif") no-repeat scroll
		right center transparent;
	padding: 0px;
	margin: 0px;
	height: 15px;
	float: right;
	width: 52px;
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
	font-family: "MrEavesSansRegular", Verdana, Arial, Helvetica, sans-serif;
}
.product-popover {
	outline: none;
}
#product,
#productdetail,
#productaccessories,
#companionproducts,
.cookingclasses {
	float: left;
	width: $width-full;
	margin: 0px;
	padding: 0px;
	position: relative;
	display: inline;
}
div#content {
	width: $width-full;
}
div#product {
	font-family: $font-regular;
	div,
	p,
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	td,
	th,
	dt,
	dd,
	li,
	blockquote,
	span,
	figcaption {
		font-family: inherit;
	}
	> div {
		float: left;
		color: #333333;
		font-size: 16px;
	}
}
