#ec_adaptivenav {
	font-size: 0.8em;
}
.ec_gridwall {
	p.price,
	p.sale,
	p.regular {
		font-size: 1em !important;
	}
}
#ec_gridwall_controls {
	font-size: 0.8em;
}
div.pagination .pagecontrol {
	ul.pages,
	label {
		font-size: 1em;
	}
}
