/* ************************************************
            Footer Styles
   ************************************************ */
div#footer {
	clear: both;
	font-family: $font-regular;
	margin-left: auto;
	margin-right: auto;
}
div#footer #epilogue,
div#footer #email,
div#footer #social,
div#footer #copyright {
	font-size: 1em;
}
div#footer #epilogue {
	float: left;
	width: 64%;
	overflow: auto;
}
div#footer h6 {
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 12px;
	font-weight: bold;
}
div#footer .menu h6 a {
	border-bottom: solid 1px transparent;
}
div#footer .menu h6 a:hover {
	color: #5c2946;
	//border-bottom: solid 1px #5C2946 /* eggplant */;
}
div#footer #epilogue .menu {
	float: left;
	width: 26%;
}
div#footer #epilogue .menu li {
	padding-left: 1em;
	margin-bottom: 6px;
}
div#footer #epilogue .menu li a {
	border-bottom: none;
	line-height: 1em;
}
div#footer #epilogue .menu li a:hover {
	color: #5c2946;
	//border-bottom: solid 1px #5C2946 /* eggplant */;
}
div#footer #email,
div#footer #social,
div#footer #copyright {
	clear: right;
	float: right;
	margin-bottom: 24px;
	width: 280px;
}
div#footer #email ul,
div#footer #social ul {
	display: inline;
}
div#footer #email ul li,
div#footer #social ul li {
	float: left;
	display: inline;
	margin-left: 6px;
	padding-right: 6px;
}
div#footer #email ul li a,
div#footer #social ul li a {
	border-bottom-color: white;
}
div#footer #social ul li a:hover {
	color: #5c2946;
	//border-bottom: solid 1px #5C2946 /* eggplant */;
}
div#footer #email .last,
div#footer #social .last {
	border-right: 0;
}
div#footer #email .box {
	float: left;
	text-align: left;
}
div#footer #email a.button span {
	text-transform: uppercase;
}
div#footer #email .box input {
	position: relative;
	width: 167px;
	height: 24px;

	margin-left: 3px;
	margin-top: 3px;

	line-height: 16px;
	font-size: 16px;

	padding: 0px 3px;

	border: 1px solid #aaa;
	border-radius: 3px;
}
#signup_thanks {
	color: #6d8b19;
	text-align: center;
	display: none;
}
#email .box #emailsignup {
	vertical-align: bottom;
	padding: 0 10px;
}

div#footer #social .first {
	margin-left: 0;
}
div#footer #social li {
	padding-top: 2px;
}
div#footer #social li.twitter {
	padding-left: 24px;
	background: url(/styles/images/social_twitter.gif) no-repeat left center;
}
div#footer #social li.facebook {
	padding-left: 24px;
	background: url(/styles/images/social_facebook.gif) no-repeat left center;
}
div#footer #social li.youtube {
	padding-left: 20px;
	background: url(/styles/images/social_youtube.gif) no-repeat left center;
}
div#footer #social li {
	padding-right: 16px;
	border-right: 1px solid #cccccc;
	margin-right: 8px;
}
