#acctHowToRedeemGiftCard {
	position: absolute;
	_position: absolute; /* hack for internet explorer 6*/
	height: auto;
	width: 567px;
	display: none;
	z-index: 1010;
	margin-left: -283px;
}

#acctHowToRedeemGiftCard .close {
	background: url(../images/popup_box_close_x.gif) no-repeat right center;
	padding-right: 18px;
	margin-right: 10px;
}

#acctHowToRedeemGiftCard h1 {
	font-size: 23px;
	line-height: 48px;
	border-bottom: 1px solid #aaaaaa; /* border gray */
	margin-bottom: 12px;
}

#acctHowToRedeemGiftCard p.story {
	padding: 0;
	margin: 0 auto 0 auto;
	width: 350px;
}
#acctHowToRedeemGiftCard p.last {
	padding: 0;
	width: 285px;
	font-weight: bold;
	margin: 0 auto 25px auto;
}

#acctHowToRedeemGiftCard div.actions {
	height: 19px;
	margin-top: 0;
	margin-bottom: 11px;
}

#acctHowToRedeemGiftCard div.actions ul li {
	float: right;
	padding-left: 10px;
	display: inline;
}

#acctCheckCardBalanceLookup {
	position: absolute;
	_position: absolute; /* hack for internet explorer 6*/
	overflow: auto;
	width: 567px;
	display: none;
	z-index: 1010;
}

div#xyzHeader #acctCheckCardBalanceLookup {
	margin-left: -283px;
	left: 50%;
}

.giftCardsSidebar #acctCheckCardBalanceLookup {
	margin-left: 0px;
	left: 0%;
}

#acctCheckCardBalanceLookup .close {
	background: url(../images/popup_box_close_x.gif) no-repeat right center;
	padding-right: 18px;
	margin-right: 10px;
}

#acctCheckCardBalanceLookup h1 {
	font-size: 23px;
	line-height: 48px;
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 12px;
}

#acctCheckCardBalanceLookup input {
	width: 198px;
	padding-right: 0px;
}

#acctCheckCardBalanceLookup div.actions {
	margin-top: 0;
	margin-bottom: 11px;
}

* html #acctCheckCardBalanceLookup div.actions {
	margin-top: 18px;
}

#acctCheckCardBalanceLookup div.actions ul li {
	float: right;
	padding-left: 10px;
	display: inline;
}
#acctCheckCardBalanceLookup div.actions a.cancel:hover {
	color: #5c2946;
	border-bottom: solid 1px #5c2946;
}
#acctCheckCardBalanceLookup div.actions a.cancel {
	border-bottom: dotted 1px #444444;
	float: right;
	margin-right: 0px;
}
