/* ****************************************************
		Seasonal & Shipping Promotions
   **************************************************** */
.seasonalPromo,
.shippingPromo {
	width: 792px;
}
.shippingPromo div.brandShopCtr {
	/*background-color: #5C2946;*/
}
.shippingPromo div.brandShopCtr .box {
	/*background-color: #5C2946;*/
}
.shippingPromo div.brandShopCtr.reverse,
.shippingPromo div.reverse {
	background-color: #929556;
}
.shippingPromo div.brandShopCtr.reverse .box,
.shippingPromo div.reverse .box {
	background-color: #929556;
}
.seasonalPromo div.brandShopCtr .featureContent {
	height: auto;
}
.shippingPromo div.brandShopCtr .featureContent {
	padding-top: 6px;
	height: auto;
	width: 489px;
}
.shippingPromo.textonly div.brandShopCtr .featureContent {
	padding-top: 16px;
	height: auto;
	margin-bottom: 16px;
}
.shippingPromo.textonly div.brandShopCtr .featureContent {
	width: 760px;
}
.seasonalPromo .brandShopCtr .featureImage.imageonly,
.seasonalPromo .brandShopCtr .imageonly {
	margin: 0px;
}
.seasonalPromo .brandShopCtr .featureImage img {
	height: 256px;
}
.seasonalPromo .brandShopCtr .featureImage.imageonly img,
.seasonalPromo .brandShopCtr .imageonly img {
	width: 758px;
	height: 386px;
}
.shippingPromo .brandShopCtr .featureImage img {
	width: 255px;
	height: 161px;
	border: none;
}
.seasonalPromo .brandShopCtr h3 {
	font-size: 20px;
	line-height: 26px;
}
.shippingPromo .brandShopCtr h3 {
	font-size: 18px;
	line-height: 26px;
}
.seasonalPromo h3.leading {
	color: #7d0707;
	text-transform: uppercase;
}
.shippingPromo h3.leading {
	color: #868e4b;
	text-transform: uppercase;
}
.shippingPromo .brandShopCtr.reverse h3,
.shippingPromo .reverse h3 {
	color: white;
}
.seasonalPromo .brandShopCtr h2,
.seasonalPromo .brandShopCtr h2.header {
	color: #7d0707;
	font-size: 42px;
}
.shippingPromo .brandShopCtr h2,
.shippingPromo .brandShopCtr h2.header {
	color: #868e4b;
	font-size: 30px;
}
.shippingPromo .brandShopCtr.reverse h2,
.shippingPromo div.reverse h2 {
	color: white;
}
.shippingPromo.textonly .brandShopCtr h2,
.shippingPromo.textonly .brandShopCtr h2.header {
	font-size: 32px;
}
.seasonalPromo .brandShopCtr p {
	font-size: 14px;
	line-height: 21px;
}
.shippingPromo .brandShopCtr p {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.shippingPromo .brandShopCtr.reverse p,
.shippingPromo div.reverse p,
.shippingPromo .brandShopCtr.reverse a,
.shippingPromo div.reverse a {
	color: white;
}
.shippingPromo .brandShopCtr.reverse a:hover,
.shippingPromo div.reverse a:hover {
	color: white;
	//border-bottom: solid 1px white /* white */;
}
.shippingPromo .brandShopCtr.reverse a.button:hover,
.shippingPromo div.reverse a.button:hover {
	border: none;
	text-decoration: underline;
}
.shippingPromo .brandShopCtr.reverse a.button:hover span,
.shippingPromo div.reverse a.button:hover span {
	text-decoration: underline;
}
/* ****************************************************
		toolbar
   **************************************************** */
.seasonalPromo div.toolbar.two,
.shippingPromo div.toolbar.two,
.seasonalPromo div.two,
.shippingPromo div.two {
	background-color: Transparent;
}
.seasonalPromo div.toolbar.three,
.shippingPromo div.toolbar.three,
.seasonalPromo div.three,
.shippingPromo div.three {
	background-color: Transparent;
}
.seasonalPromo div.toolbar.four,
.shippingPromo div.toolbar.four,
.seasonalPromo div.four,
.shippingPromo div.four {
	background-color: Transparent;
}
.seasonalPromo div.toolbar.five,
.shippingPromo div.toolbar.five,
.seasonalPromo div.five,
.shippingPromo div.five {
	background-color: Transparent;
}
.seasonalPromo div.toolbar,
.shippingPromo div.toolbar {
	margin-bottom: 16px;
	width: 792px;
	background: url(../images/content_box2_top.gif) no-repeat top left;
	padding-top: 6px;
}
.seasonalPromo div.toolbar .box,
.shippingPromo div.toolbar .box {
	background: url(../images/content_box2_btm.gif) no-repeat bottom left;
	padding: 4px 10px 0px 10px; /* 10px all the way around - top takes up 6px; and the button margin-bottom is 10px*/
	overflow: auto;
	width: 772px;
	margin-top: 0;
}
.seasonalPromo div.toolbar .actionbar,
.shippingPromo div.toolbar .actionbar {
	margin: 0;
	margin-bottom: 10px;
	overflow: auto;
}
.seasonalPromo .brandShopCtr div.toolbar,
.shippingPromo .brandShopCtr div.toolbar {
	margin: 0;
	width: 760px;
	background: none;
	padding: 16px 0 0 0;
}
.seasonalPromo .brandShopCtr div.toolbar .actionbar,
.shippingPromo .brandShopCtr div.toolbar .actionbar {
	position: relative;
	top: auto;
}
.seasonalPromo .brandShopCtr div.toolbar .actionbar.last,
.shippingPromo .brandShopCtr div.toolbar .actionbar.last,
.seasonalPromo .brandShopCtr div.toolbar div.last,
.shippingPromo .brandShopCtr div.toolbar div.last {
	margin-bottom: 0;
}
/* ****************************************************
		Button
   **************************************************** */
.seasonalPromo a.button {
	color: White;
	background: url(../images/button_red_left.gif) no-repeat left top;
}
.seasonalPromo a.button span {
	background: url(../images/button_red_right.gif) no-repeat right top;
}
.shippingPromo a.button {
	color: White;
	background: url(../images/button_green_left.jpg) no-repeat left top;
}
.shippingPromo a.button span {
	background: url(../images/button_green_right.gif) no-repeat right top;
}
.seasonalPromo div.toolbar a.button,
.shippingPromo div.toolbar a.button {
	float: left;
	margin-right: 10px;
}
.seasonalPromo div.toolbar a.button.last,
.seasonalPromo div.toolbar a.last,
.shippingPromo div.toolbar a.button.last,
.shippingPromo div.toolbar a.last {
	margin-right: 0px;
	margin-bottom: 0px;
}
.seasonalPromo .brandShopCtr div.toolbar a.button.last,
.seasonalPromo .brandShopCtr div.toolbar a.last,
.shippingPromo .brandShopCtr div.toolbar a.button.last,
.shippingPromo .brandShopCtr div.toolbar a.last {
	margin-bottom: 0px;
}
.seasonalPromo div.toolbar a.button span,
.shippingPromo div.toolbar a.button span {
	text-align: center;
	padding-left: 2px; /* Increase space for text -  plus 4px for the left part of the button */
	padding-right: 23px; /* Increase space for text */
}
.seasonalPromo div.toolbar.two a.button span,
.seasonalPromo div.two a.button span,
.shippingPromo div.toolbar.two a.button span,
.shippingPromo div.two a.button span,
.shippingPromo div.toolbar .actionbar.two a.button span,
.shippingPromo div.toolbar .two a.button span {
	width: 351px;
}
.seasonalPromo .brandShopCtr div.toolbar.two a.button span,
.seasonalPromo .brandShopCtr div.two a.button span,
.shippingPromo .brandShopCtr div.two.three a.button span,
.shippingPromo .brandShopCtr div.two a.button span,
.shippingPromo .brandShopCtr div.toolbar .actionbar.two a.button span,
.shippingPromo .brandShopCtr div.toolbar .two a.button span {
	width: 346px;
}
.seasonalPromo div.toolbar.three a.button span,
.seasonalPromo div.three a.button span,
.shippingPromo div.toolbar.three a.button span,
.shippingPromo div.three a.button span,
.shippingPromo div.toolbar .actionbar.three a.button span,
.shippingPromo div.toolbar .three a.button span {
	width: 221px;
}
.seasonalPromo .brandShopCtr div.toolbar.three a.button span,
.seasonalPromo .brandShopCtr div.three a.button span,
.shippingPromo .brandShopCtr div.toolbar.three a.button span,
.shippingPromo .brandShopCtr div.three a.button span,
.shippingPromo .brandShopCtr div.toolbar .actionbar.three a.button span,
.shippingPromo .brandShopCtr div.toolbar .three a.button span {
	width: 217px;
}
.seasonalPromo div.toolbar.four a.button span,
.seasonalPromo div.four a.button span,
.shippingPromo div.toolbar.four a.button span,
.shippingPromo
	div.four
	a.button
	span
	.shippingPromo
	div.toolbar
	.actionbar.four
	a.button
	span,
.shippingPromo div.toolbar .four a.button span {
	width: 156px;
}
.seasonalPromo .brandShopCtr div.toolbar.four a.button span,
.seasonalPromo .brandShopCtr div.four a.button span,
.shippingPromo .brandShopCtr div.toolbar.four a.button span,
.shippingPromo
	.brandShopCtr
	div.four
	a.button
	span
	.shippingPromo
	.brandShopCtr
	div.toolbar
	.actionbar.four
	a.button
	span,
.shippingPromo .brandShopCtr div.toolbar .four a.button span {
	width: 153px;
}
.seasonalPromo div.toolbar.five a.button span,
.seasonalPromo div.five a.button span,
.shippingPromo div.toolbar.five a.button span,
.shippingPromo
	div.five
	a.button
	span
	.shippingPromo
	div.toolbar
	.actionbar.five
	a.button
	span,
.shippingPromo div.toolbar .five a.button span {
	width: 117px;
}
