.culinaryLocation {
	width: 792px;
	padding-top: 2px;
}
.culinaryLocation .intro {
	clear: both;
	width: auto;
	margin: 0 0 16px 0;
	padding: 0 16px 0 16px;
	overflow: auto;
}
.culinaryLocation .intro .content {
	float: left;
	width: 760px;
	text-align: center;
	margin-bottom: 24px;
}
.culinaryLocation .intro .content h2 {
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 14px;
}
.culinaryLocation .intro .content h3 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 12px;
	text-transform: uppercase;
}
.culinaryLocation .intro .content h3.leading {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.culinaryLocation .intro .content p {
	font-size: 13px;
	line-height: 21px;
	margin-bottom: 0;
}
.culinaryLocation .intro .innerBox {
	float: left;
	display: inline;
	overflow: auto;
	width: 760px;
}
.culinaryLocation .intro .innerBox .smallItem {
	float: left;
	/*width: 120px;*/
	height: 122px;
	margin-right: 8px;
	text-align: center;
}
.culinaryLocation .intro .innerBox .smallItem p {
	padding-top: 4px;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
}
.culinaryLocation .intro .innerBox .smallItem img {
	display: block;
	width: 120px;
	height: 120px;
	border: solid 1px #aaaaaa;
}
.culinaryLocation .intro .innerBox .smallItem img.wide,
.culinaryLocation .intro .innerBox .smallItem img.smallItemImage4.wide {
	width: 243px;
}
.culinaryLocation .intro .innerBox .smallItem.last,
.culinaryLocation .intro .innerBox div.last {
	margin-right: 0px;
}
.culinaryLocation .intro .innerBox .smallItem a:hover img {
	text-decoration: none;
}
.culinaryLocation .locationContent {
	width: 792px;
	padding-top: 6px;
	background: url(../images/content_box2_top.gif) no-repeat top left;
}
.culinaryLocation .locationContent .boxsides {
	width: 792px;
	float: left;
	overflow: auto;
	padding: 10px 16px 0px 16px;
	background: url(../images/carsl5_box_sides.gif) repeat-y top left;
	display: block;
	margin-top: 0px;
	overflow: auto;
}
.culinaryLocation .locationContent .column {
	float: left;
	width: 242px;
	margin-right: 16px;
}
.culinaryLocation .locationContent .column.last {
	margin-right: 0px;
}
.culinaryLocation .locationContent .location {
	margin-bottom: 26px;
}
.culinaryLocation .locationContent .location.last,
.culinaryLocation .locationContent div.last {
	margin-bottom: 10px;
}
.culinaryLocation .locationContent .state h3 {
	font-size: 17px;
	line-height: 18px;
	margin-bottom: 12px;
	font-weight: bold;
}
.culinaryLocation .locationContent .location h4,
.culinaryLocation .locationContent .location p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 0px;
	padding: 0px;
}
.culinaryLocation .locationContent div.boxbottom {
	float: left;
	width: 792px;
	display: block;
	font-size: 4px;
	line-height: 4px;
	height: 6px;
	background: url(../images/carsl5_box_btm.gif) no-repeat bottom right;
	margin-bottom: 16px;
}
