/* *********************************************
			Social section
******************************************** */
.st_facebook_custom,
.st_twitter_custom,
.st_pinterest_custom,
.st_email_custom {
	background: no-repeat scroll left top transparent;
	padding: 0px 16px 0 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: bottom;
}

.st_facebook_custom {
	background: url("//www.surlatable.com/images/PDP_Social_Icons/PDP_Social_Icons_Facebook_30px.gif");
}
.st_twitter_custom {
	background: url("//www.surlatable.com/images/PDP_Social_Icons/PDP_Social_Icons_Twitter_30px.gif");
}
.st_pinterest_custom {
	background: url("//www.surlatable.com/images/PDP_Social_Icons/PDP_Social_Icons_Pinterest_30px.gif");
}
.st_email_custom {
	background: url("//www.surlatable.com/images/PDP_Social_Icons/PDP_Social_Icons_Email_30px.gif");
}
