/**************************************************
/
/  TurnTo CSS Override Implementation
/
***************************************************/
div.TTreview {
	border-color: #ebebeb #ebebeb #ebebeb #5c2946 !important;
	border-left: 3px solid #5c2946 !important;
}

div.TTreview span.TTflagReview a {
	font-weight: normal !important;
}

#TT4breakdownBox {
	float: left !important;
	margin-left: 30px !important;
}

.TTavgRate {
	display: none !important;
}

.TTavgRate {
	display: none !important;
}

.TTrating-0-0 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1145px scroll !important;
}
.TTrating-0-5 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1167px scroll !important;
}
.TTrating-1-0 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1190px scroll !important;
}
.TTrating-1-5 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1214px scroll !important;
}
.TTrating-2-0 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1239px scroll !important;
}
.TTrating-2-5 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1263px scroll !important;
}
.TTrating-3-0 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1287px scroll !important;
}
.TTrating-3-5 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1309px scroll !important;
}
.TTrating-4-0 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1332px scroll !important;
}
.TTrating-4-5 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1356px scroll !important;
}
.TTrating-5-0 {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1604px -1381px scroll !important;
}

.TT4writeReviewBtn {
	/*background: url("https://www.surlatable.com/images/turnto-sprites.png") repeat scroll -1604px -1845px !important;*/
	width: 115px !important;
	font-family: "MrEavesSansBold", Verdana, Arial, Helvetica, sans-serif !important;
}

.TT4writeReviewBtn:hover {
	/*background: url("https://www.surlatable.com/images/turnto-sprites.png") repeat scroll -1604px -1896px !important;*/
	width: 115px !important;
}
.TTwriteReview.TT4writeReviewBtn::before {
	content: "Write a Review";
}
.TT4breakdown {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat scroll -1604px -1672px !important;
}

.TT4breakdownPercent {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat scroll -1604px -1693px !important;
	height: 10px !important;
}

.TT8 {
	background-color: #5c2946 !important;
}

#TT4questionTextHelpIcon {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		no-repeat scroll -661px -646px !important;
}

#TT4UPtabs {
	border-bottom: 3px solid #5c2946 !important;
}

#TTprofileTabs {
	color: #5c2946 !important;
}

#TTprofileTabs li.TTactiveTab {
	background-color: #5c2946 !important;
}

#TurnToContent .TTrevLinkLine,
#TurnToContent .TTrevLinkLine a,
#TurnToReviewsContent .TTrevLinkLine a {
	color: #5c2946 !important;
}

.TT3itemBox {
	border-left: 3px solid #5c2946 !important;
}

#TurnToContent .TT3linkLine,
#TurnToContent .TT3linkLine a,
#TTtraWindow .TT3linkLine a {
	color: #5c2946 !important;
}

#TurnToContent .TT3linkLine .TT3timeStamp {
	color: #909295;
}

.TT3linkLine.TT3questionLinkLine {
	font-weight: bold;
	color: #5c2946 !important;
}

div#TurnToContent .TT4chatIcon,
div#TurnToContent .TT4pen,
div#TurnToContent .TT4thumb {
	background-image: none;
}

div#TurnToContent .TTrespDesktopLandscapeDisp {
	color: #fff;
	font-size: 16px;
}

div#TurnToContent .TT3qText {
	color: #58595b;
	font-size: 16px;
	font-weight: bold;
}

div#TurnToContent .TTbestAnswer {
	font-weight: bold;
	color: #d25516;
	display: inline-block;
	text-transform: lowercase;
}

div#TurnToContent .TTbestAnswer:first-letter {
	text-transform: uppercase;
}

.TT3staffBadge,
.TT3storeBadge,
.TT3youBadge,
.TT3expertBadge {
	background-color: #5c2946 !important;
}

#TurnToContent .TT3aboutLine a,
#TTtraWindow .TT3aboutLine a,
#TurnToReviewsContent .TT3aboutLine a {
	color: #5c2946 !important;
}

.TT4askQ {
	color: #5c2946 !important;
}

#TT4instAnswNext {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		no-repeat scroll -660px -707px !important;
}

#TTaskAreaBtnLine #TT3questCancelBtn {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		no-repeat scroll -660px -825px !important;
}

.TT4QhintCenter {
	color: #5c2946 !important;
}

.TTbigSubmitBtn {
	background: url("https://www.surlatable.com/images/turnto-sprites.png") 0 -1754px !important;
}

#TTwriteRevProd {
	border-left: 3px solid #5c2946 !important;
}

#TTwriteRevProdTitle {
	color: #5c2946 !important;
}

.TTcloseBtn {
	background: url("https://www.surlatable.com/images/turnto-sprites.png") 0 -832px !important;
}

#TurnToContent .TTsqvBack,
#TTtraWindow .TTsqvBack,
#TurnToReviewsContent .TTsqvBack {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		no-repeat scroll -661px -825px !important;
}

#TurnToContent .TTsqvForward,
#TTtraWindow .TTsqvForward {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		no-repeat scroll -660px -707px !important;
}

.TTsearchBtn {
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat scroll 0 -1620px !important;
}

.TTsearchBtn:hover {
	background-position: 0 -1575px !important;
}

.TTratingBox {
	height: 16px;
	width: 90px;
	margin-right: 5px;
	display: inline-block;
}

.TurnToReviewsTeaser {
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Helvetica,
		sans-serif;
	font-size: 16px !important;
	display: inline-block;
}

.TurnToItemTeaser {
	display: inline-block;
}

.TTreview .TTratingBoxBorder {
	border: none;
	background: none;
}

#TT4breakdownBox {
	width: 230px !important;
}

#TT4breakdownLeftCol {
	width: 54px !important;
}

#TT4breakdownLeftCol #TT4Rating5Stars {
	width: 90px;
	height: 16px;
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1740px -1378px scroll !important;
	overflow: hidden;
	line-height: 50px;
}

#TT4breakdownLeftCol #TT4Rating4Stars {
	width: 90px;
	height: 16px;
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1741px -1327px scroll !important;
	overflow: hidden;
	line-height: 50px;
}

#TT4breakdownLeftCol #TT4Rating3Stars {
	width: 90px;
	height: 16px;
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1741px -1286px scroll !important;
	overflow: hidden;
	line-height: 50px;
}

#TT4breakdownLeftCol #TT4Rating2Stars {
	width: 90px;
	height: 16px;
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1741px -1235px scroll !important;
	overflow: hidden;
	line-height: 50px;
}

#TT4breakdownLeftCol #TT4Rating1Stars {
	width: 90px;
	height: 16px;
	background: url("https://www.surlatable.com/images/turnto-sprites.png")
		repeat-x -1741px -1185px scroll !important;
	overflow: hidden;
	line-height: 50px;
}

.TurnToItemInputTeaser {
	float: left !important;
}
