// Vars
@import "bootstrap/variables";

$font-regular: "MrEavesSans", Verdana, Arial, Helvetica, sans-serif; /*usable with font-weight:bold*/
$font-regular-italic: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
	sans-serif;
$font-bold: "MrEavesSansBold", Verdana, Arial, Helvetica, sans-serif;
$font-bold-italic: "MrEavesSansBoldItalic", Verdana, Arial, Helvetica,
	sans-serif;
$font-modernRegular: "MrEavesModern", Verdana, Arial, Helvetica, sans-serif;
$font-modernBold: "MrEavesModernBold", Verdana, Arial, Helvetica, sans-serif;
$font-basic: Verdana, Arial, Tahoma, Helvetica, Sans-Serif;

$active-background: #6d8b19;
$secondary-background: #333;
$disabled-background: #ccc;
$link-background: transparent;
$active-color: #fff;
$secondary-color: #c3c3c3;
$darkFont: #444;
$menuFont: #666;
$red: #da3126;
$orange: #e57d24;

$constrainedWidth: 990px;
$fullWidth: 1600px;
