/*
	Name:		My Account Created
	File:		myAccountCreated.css
	Purpose:

*/
/* *********************************
		Master Wrapper
   ********************************* */

#myaccountsignin {
	.checkoutsignin {
		clear: both;
		width: 990px;
		overflow: auto;
		/* *********************************
		Existing Account
   ********************************* */

		.wrapperCenterForPersistentCheck {
			margin-bottom: 10px;
			margin: auto;
		}
		.wrapperleft {
			width: 395px;
			float: left;
			.myaccountexisting {
				float: left;
				width: 395px;
				background: url(../images/signin_left_box_top.gif) no-repeat top
					left;
				padding-top: 16px;
				background-color: #f5f5f5;
			}
			.myaccountexisting .boxleft {
				background: url(../images/signin_left_box_btm.gif) no-repeat
					bottom left;
				padding: 0 16px 16px 16px;
			}
			#forgotpasswd .popupmain h1 {
				line-height: 48px;
			}
		}
		h1 {
			font-size: 23px;
			line-height: 23px;
			font-weight: normal;
			margin: 0 0 8px 0;
		}
		.myaccountexisting .boxleft h2 {
			font-size: 13px;
			line-height: 14px;
			font-weight: bold;
			margin-bottom: 10px;
			.boxleft .rememberme {
				font-size: 12px;
				line-height: 18px;
				font-weight: normal;
			}
			.boxleft .checkbox {
				padding-top: 4px;
				margin-left: 10px;
				padding-left: 0;
				margin-right: 6px;
				padding-top: 5px;
			}
			.boxleft a.pword {
				font-size: 11px;
				line-height: 12px;
				font-weight: normal;
				border-bottom: dotted 1px #444444;
			}
			.boxleft a.pwordForPersistentCheck {
				font-size: 11px;
				line-height: 12px;
				font-weight: normal;
				cursor: default;
			}
			.boxleft a.pwordForPersistentCheck:hover {
				border-bottom: solid 0px #5c2946;
				color: #444444;
			}
			.boxleft a.pword:hover {
				border-bottom: solid 1px #5c2946;
			}
			.boxleft li {
				display: inline;
				float: left;
				margin-right: 6px;
				margin-top: 16px;
			}
			dt {
				font-size: 11px;
				font-weight: bold;
				line-height: 12px;
			}
		}
		.myaccountexisting .boxleft .checkbox {
			margin-left: 10px;
		}
		fieldset {
			margin-top: 16px;
		}
		/* *********************************
		New Account
   ********************************* */

		.wrapperright {
			float: left;
			display: inline;
			width: 574px;
			.newsignup {
				width: 574px;
				display: inline;
				float: left;
				background: url(../images/signin_right_box_top.gif) no-repeat
					top left;
				margin-bottom: 10px;
				overflow: hidden;
				dl {
					margin-top: 0;
				}
				dd {
					font-size: 12px;
					font-weight: normal;
					line-height: 12px;
					margin-left: 0;
					margin-bottom: 12px;
				}
				dt {
					font-size: 11px;
					font-weight: bold;
					line-height: 12px;
					margin-bottom: 6px;
				}
				h1 {
					font-size: 23px;
					line-height: 23px;
					font-weight: normal;
					margin: 0 0 16px 0;
				}
				.boxright {
					background: url(../images/signin_right_box_btm.gif)
						no-repeat bottom left;
					padding: 0 16px 16px 16px;
					overflow: auto;
					.boxrighttitle {
						margin-bottom: 16px;
					}
					.registerbutton {
						width: 500px;
						margin-bottom: 12px;
					}
					.content {
						display: inline;
					}
					h2 {
						font-size: 13px;
						line-height: 14px;
						font-weight: bold;
						margin-bottom: 10px;
					}
					dd.lastdd {
						font-size: 12px;
						font-weight: normal;
						line-height: 12px;
						margin-left: 0;
						margin-bottom: 0;
					}
					p {
						margin-bottom: 10px;
					}
				}
			}
		}
		/* *********************************
		Gutter
   ********************************* */

		.gutter {
			float: left;
			display: inline;
			width: 21px;
		}
	}
}
