div#product div#product-fluidPopover {
	width: 800px !important;
}

.product-optionsColor-current {
	width: 145px;
}

div#product span.product-optionsColor-current > span {
	width: 86px !important;
}

div#product div#productCenter div#product-videos {
	overflow: inherit !important;
}
