/*
**    Product Top
*/

div#product {
	/*
    **    Breadcrumbs
    */

	div#product-breadcrumbs {
		margin-bottom: 5px;
		display: block;
		font-family: $font-regular;

		font-size: 18px;
		color: #777;
		span a {
			color: #a7a7a7;
		}
		span:last-of-type a {
			color: #777;
			font-family: $font-bold;
		}
		span:last-of-type:after {
			content: "";
		}
	}

	/*
    **    SKU
    */
	div#product-sku {
		float: right;
		font-family: $font-bold;
		font-size: 18px;
		color: #777777;
		text-transform: uppercase;
		/*span {
            display: none;
        }*/
	}
}
