// Vars

$font-regular: "MrEavesSansRegular", Verdana, Arial, Helvetica, sans-serif;
$font-regular-italic: "MrEavesSansRegularItalic", Verdana, Arial, Helvetica,
	sans-serif;
$font-bold: "MrEavesSansBold", Verdana, Arial, Helvetica, sans-serif;
$font-bold-italic: "MrEavesSansBoldItalic", Verdana, Arial, Helvetica,
	sans-serif;

$fluid-orange: #f1b747;
$button-green: #6d8b19;
$green: $button-green;
$black: #000;
$white: #fff;
$button-active-bg: #333;
$button-active-color: #c3c3c3;
$button-disabled-bg: #cccccc;
$button-disabled-color: $white;
$button-wishlist-disable-color: #333;

$width-full: 990px;
