/*
	name:	Gift Registry Account Setup Sidebar Area
	file:	giftSetupSidebar.css
*/
#giftsetupsidebar {
	clear: both;
	float: left;
	display: inline;
	padding-left: 16px;
	width: 314px;
}
#giftsetupsidebar img {
	display: block;
	width: 278px;
	height: 278px;
}

#giftsetupsidebar div {
	height: 278px;
	width: 278px;
	margin: 0 15px 15px 0;
}
