#giftregistrysteps {
	padding-top: 4px;
	margin-bottom: 24px;
	clear: both;
	height: 30px;
	padding-top: 10px;
	color: White;
	background: url(../images/purple_round_corner_l.gif) no-repeat bottom left;
}
#giftregistrysteps ul {
	overflow: auto;
	margin-left: 8px;
}
#giftregistrysteps ul li {
	float: left;
	display: inline;
	line-height: 30px;
	width: 244px;
	background: url(../images/green_step_box.gif) repeat-x left center;
}
#giftregistrysteps li.active {
	background: transparent url(../images/purple_step_box.gif) repeat-x left
		center;
}
#giftregistrysteps ul li label {
	float: left;
	display: block;
	width: 35%;
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	padding-right: 6px;
	background: transparent url(../images/green_step_arrow1.gif) no-repeat left
		center;
}
#giftregistrysteps ul li label.first {
	background: none;
}
#giftregistrysteps label.head {
	background: transparent url(../images/green_step_arrow3.gif) no-repeat left
		center;
}
#giftregistrysteps label.tail {
	background: transparent url(../images/green_step_arrow2.gif) no-repeat left
		center;
}
#giftregistrysteps ul li a {
	color: White;
	border-bottom: none;
}
#giftregistrysteps ul li a:hover {
	text-decoration: underline;
}
/* **************************************************
		End-Caps - rounded corners
   ************************************************** */
#giftregistrysteps div.step1 {
	background: url(../images/purple_round_corner_l.gif) no-repeat bottom left;
}
#giftregistrysteps div.step2 {
	background: url(../images/green_round_corner_l.gif) no-repeat bottom left;
}
#giftregistrysteps div.step3 {
	background: url(../images/green_round_corner_l.gif) no-repeat bottom left;
}
#giftregistrysteps div.step4 {
	background: url(../images/green_round_corner_l.gif) no-repeat bottom left;
}
#giftregistrysteps div.step1 ul {
	background: url(../images/green_round_corner_r.gif) no-repeat bottom right;
}
#giftregistrysteps div.step2 ul {
	background: url(../images/green_round_corner_r.gif) no-repeat bottom right;
}
#giftregistrysteps div.step3 ul {
	background: url(../images/green_round_corner_r.gif) no-repeat bottom right;
}
#giftregistrysteps div.step4 ul {
	background: url(../images/purple_round_corner_r.gif) no-repeat bottom right;
}
