/*
	name:	Gift Registry Account Set Up
	file:	giftSetup.css
*/
#giftsetup {
	float: left;
	display: inline;
	width: 660px;
	overflow: auto;
	margin-bottom: 16px;
}
#giftsetup h2 {
	color: #60682f;
	font-size: 23px;
	line-height: 23px;
	margin-bottom: 12px;
}
#giftsetup h3 {
	clear: both;
	color: #666666;
	font-size: 18px;
	line-height: 18px;
	padding-bottom: 12px;
	border-bottom: solid 1px #aaaaaa;
	margin-bottom: 18px;
}
#giftsetup h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}
#giftsetup fieldset dt {
	width: 25%;
}
#giftsetup fieldset dd {
	width: 72%;
}
#giftsetup fieldset dd .note {
	font-size: 16px;
}
#giftsetup fieldset label {
	font-weight: bold;
}
#giftsetup fieldset .dropdown {
	width: 226px;
}
#giftsetup fieldset select.month,
#giftsetup fieldset select.day {
	width: 120px;
}
#giftsetup fieldset input {
	width: 222px;
}
#giftsetup fieldset input.shorttext {
	width: 60px;
}
#giftsetup fieldset input.midtext {
	width: 120px;
}
#giftsetup fieldset input.radio,
#giftsetup fieldset input.checkbox {
	width: 14px;
	float: left;
}
#giftsetup fieldset dl.registrypassword {
	padding-top: 12px;
}
#giftsetup fieldset dl.registrypassword dt {
	width: 30%;
}
#giftsetup fieldset dl.registrypassword dd {
	width: 58%;
}
#giftsetup .actions li {
	float: right;
	display: inline;
	margin-left: 12px;
	padding-top: 24px;
	margin-bottom: 24px;
}
#giftsetup a.link {
	border-bottom: dotted 1px #5c2946;
}

#giftsetup .photos {
	overflow: auto;
	margin-bottom: 36px;
}
#giftsetup .photos dl {
	float: left;
	display: inline;
}
#giftsetup .photos dl dd {
	margin-left: 0;
	padding-left: 0;
}
#giftsetup .photos dl.choice {
	width: 115px;
	margin-right: 12px;
}
#giftsetup .photos dl.choice img {
	width: 115px;
	height: 115px;
	background-color: #d5d5d5;
	border: solid 1px #aaaaaa;
}
#giftsetup .photos #giftslideshow {
	height: 260px;
	width: 261px;
	background-color: #eee;
	padding: 0;
	margin: 0 16px 0 0;
	border: solid 1px #d5d5d5;
}
#giftsetup .photos #giftslideshow img {
	display: block;
	width: 230px;
	height: 230px;
	margin-top: 15px;
	margin-left: 15px;
}
#giftsetup dl.choice {
	margin-top: 0;
}
#giftsetup .choice li {
	text-align: center;
	height: 24px;
}
#giftsetup .choice li a.button {
	margin-left: 14px;
}
#giftsetup .photos .options {
	clear: both;
	padding-top: 12px;
}
#giftsetup .pickadate input {
	float: left;
	display: inline;
}
#giftsetup .pickadate img.ui-datepicker-trigger {
	float: left;
	display: inline;
	height: 19px;
	width: 22px;
}
#giftsetup fieldset dl dd ul {
	display: inline;
}
#giftsetup fieldset dl dd li {
	float: left;
	display: inline;
}
#giftsetup fieldset dl dd li p {
	width: 100px;
	margin-left: 45px;
}
#giftsetup .guestmessage {
	margin-bottom: 24px;
}
#giftsetup .guestmessage #giftmessage textarea {
	width: 650px;
	height: 80px;
	overflow: hidden;
}
#giftsetup fieldset {
	margin-bottom: 24px;
}

#giftsetup fieldset .events .time {
	padding-left: 5px;
	display: inline;
	float: none;
}
#giftsetup fieldset .events .thehint .hint {
	margin-left: 80px;
}
#giftsetup fieldset .imagenote {
	margin-left: 25px;
}
#giftsetup fieldset dt.preference {
	height: 54px;
}
#giftsetup.personal fieldset dt {
	width: 25%;
}
#giftsetup.personal fieldset dd {
	width: 73%;
}
#giftsetup.event fieldset dt {
	width: 13%;
}
#giftsetup.event fieldset dd {
	width: 85%;
}
#giftsetup.final fieldset dt {
	width: 23%;
}
#giftsetup.final fieldset dd {
	width: 74%;
}
#giftsetup fieldset .giftprefs dt,
#giftsetup fieldset .events dt {
	width: 27%;
}
#giftsetup fieldset .giftprefs dd,
#giftsetup fieldset .events dd {
	width: 70%;
}
