/* ***********************************************************
        Bootstrap
   *********************************************************** */

/*xs+sm =  iPad break*/
@media (max-width: $screen-md-max) {
	div.viewCart {
		.subtotal {
			h2 {
				text-align: center;
			}
		}

		.checkoutButtons {
			.backShopping {
				a {
					width: 200px;
				}
			}
		}

		.itemList {
			.item {
				.productImg {
					img {
						margin: 0 auto 25px;
					}
				}

				.productAvail {
					margin-top: 0px;
				}

				.productQuantity {
					margin-top: 0px;
				}

				.productOptions {
					a {
						padding-left: 0px;
					}
				}
				.saveOptions {
					a {
						padding-left: 0px;
						padding-right: inherit;
					}
				}
			}
		}
		div.singleForm {
			.promoCodeForm,
			.estZipFieldForm {
				text-align: center;
				label {
					display: block;
				}
				.promoField {
					float: none;
				}
				input.form-control {
					display: inline-block;
					width: auto;
					vertical-align: middle;
				}
			}
		}
	}
}
/*xs*/

@media (max-width: $screen-sm-max) {
	div.viewCart {
		.itemList {
			.item {
				.productOptions {
					position: absolute;
				}
			}
		}
		.recommendHeader {
			font-size: 1.5em;
		}
	}
}

//--------------------------------

.viewCart {
	font-family: $font-regular;
	font-size: 18px;
	padding-bottom: 25px;

	h1,
	h2,
	h3 {
		font-family: $font-regular;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.5em;
	}

	.backShopping a {
		margin-top: 13px;
	}

	.checkoutButtons {
		div {
			margin-top: 15px;
		}
	}

	.carousel-control {
		padding-top: 10%;
		width: 5%;
	}

	.itemList {
		padding-bottom: 15px;
		line-height: 1.2em;

		.item {
			padding-top: 15px;
			padding-bottom: 15px;
			margin: 15px 0 15px 0;
			border-radius: 5px;
			-webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.19);
			box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.19);

			.productImg {
				text-align: center;
				img {
					margin: 0;
					max-width: 100%;
				}
			}
			.productName {
				margin-bottom: 15px;
				a {
					font-size: 1.2em;
					font-family: $font-bold;
				}
			}
			.productAvail {
				font-size: 0.9em;
				margin-top: 35px;

				span:nth-child(1) {
					font-family: $font-bold;
				}
				span {
					float: left;
					clear: left;
				}
			}
			.productPrice {
				text-align: right;
				font-family: $font-bold;

				.total {
					font-size: 1.2em;
				}
				.yousave {
					font-size: 0.9em;
					color: $red;
				}
			}

			.productOptions {
				padding-top: 15px;
				padding-right: 0px;
			}

			.saveOptions {
				margin-top: 15px;
				padding-right: 0px;
			}

			.productQuantity {
				padding-top: 10px;
				margin-top: 15px;
				input,
				select {
					max-width: 85px;
				}
			}
			.moveToCart {
				margin-top: 25px;
			}
		}
	}

	.carousel {
		margin-top: 15px;

		a.carousel-control {
			font-size: 2em;
		}
	}

	.promoCodeForm,
	.estZipFieldForm {
		margin-top: 25px;
		margin-bottom: 25px;
		border-top: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;
		padding: 25px 0;
		width: 100%;
		text-align: right;

		label {
			font-size: 2em;
			margin-right: 10px;
			font-weight: normal;
		}
		.estZipLabel {
			float: right;
		}
		.promoField {
			margin-top: 12px;
			float: right;
			.promoCodeDisplay {
				font-size: 1.5em;
				padding-right: 25px;
			}
			.promoDelete {
				margin-top: -10px;
			}
		}
		.estZipField {
			margin-top: 12px;
			float: right;
			clear: both;
		}
		.help-block {
			line-height: 1em;
			clear: both;
			padding-top: 10px;

			.promoDisplay {
				font-family: $font-bold;
				display: block;
				margin-top: 15px;
			}
			.promoDisplayDisclaimer {
				display: block;
				font-size: 0.8em;
			}
		}
	}

	.estZipFieldForm {
		margin-top: 0px;
		padding-top: 0px;
		border-top: 0px;
		display: none;
	}

	.orderSummary {
		.pull-right {
			text-align: right;
		}
		.orderSumAddr {
			display: none;
		}

		.orderSumTotal,
		.orderSumTotalPrice {
			font-family: $font-bold;
			padding-top: 15px;
		}
		.orderSumPreTax,
		.orderSumPreTaxPrice {
			padding-top: 15px;
		}
		.orderSumAddr {
			padding-bottom: 15px;
		}
	}

	a.estimateShipTax {
		margin-bottom: 0px;
		padding-right: 0px;
		float: right;
	}
}
