.bloomReachRecos {
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	padding-bottom: 25px;
	padding-top: 15px;

	#br-related-searches-widget {
		float: left;
		width: 150px;

		.br-related-heading {
			text-transform: capitalize;
			color: #444;
		}
	}

	.br-found-heading {
		float: left;
		color: #444;
		width: 80%;
	}
}

.br-related-more,
.br-related-query,
.br-related-query-link {
	font-size: 0.9em;
}
.br-sf-widget,
.br-sf-widget-merchant-img img {
	position: relative;
	max-width: 100%;
	padding-right: 10px;
}

.br-related-query {
	color: #ccc;
}

.br-related-more {
	color: #999 !important;
	font-weight: 700;
	text-decoration: none !important;
}

.br-related-query-link {
	color: #666666;
	text-decoration: none !important;
	text-transform: capitalize;
}

.br-found-heading,
.br-related-heading {
	margin-bottom: 12px;
	font-weight: bold;
}

.bloomreach-hr {
	color: #ccc;
	height: 1px;
	width: 940px;
}

.br-sf-widget-merchant-title {
	font-weight: bold;
}
.br-sf-widget {
	float: left;
	margin-right: 1%;
	width: 20%;
}

.br-sf-widget-merchant-cont {
	font-size: 0.9em;
}
.br-sf-widget-merchant-img {
	float: left;
	margin-right: 1%;
	width: 29%;
}
.br-sf-widget-merchant-desc {
	line-height: 1em;
	width: 70%;
	float: right;
}

.br-rp-qv-show {
	position: relative;
}
.br-sf-widget-merchant-qv,
.br-sf-widget-merchant-title {
	float: right;
	width: 70%;
	line-height: 1em;
}

.br-sf-widget-merchant-qv a {
	color: #999 !important;
	display: inline;
	text-decoration: none !important;
}

.br-sf-widget-merchant-popup-maincont {
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid #cacaca;
	bottom: 0;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	left: 90px;
	padding: 0;
	position: absolute;
	width: 90%;
	max-width: 700px;
	z-index: 9999;
}

.br-sf-widget-merchant-popup-cont {
	border-radius: 6px;
	border: 1px solid #fff;
	margin: 3px;
	overflow: hidden;
	padding: 2px 4px;
}

.br-sf-widget-merchant-popup-maincont a {
	color: #817f7f;
}

.br-sf-widget-merchant-popup-img img {
	float: left;
	padding-right: 10px;
	width: 275px;
}

.br-sf-widget-merchant-popup-desc {
	max-height: 195px;
	overflow: hidden;
}

.br-sf-widget-merchant-popup-desc,
.br-sf-widget-merchant-popup-osf,
.br-sf-widget-merchant-popup-title,
.br-sf-widget-merchant-popup-view {
	margin-bottom: 8px;
}

.br-sf-widget-merchant-popup-title {
	font-weight: bold;
}

.br-sf-widget-merchant-popup-view {
}

.br-sf-widget-merchant-popup-close {
	height: 18px;
	position: absolute;
	right: 8px;
	top: 8px;
}

.br-sf-widget-merchant-popup-close a {
	display: block;
}
