#wrapper {
	max-width: none !important;
}

#main {
	float: none !important;
	width: 100% !important;
	max-width: 1600px !important;
	min-width: 990px !important;
	margin: auto !important;
	display: block !important;
}
#footer {
	margin: auto !important;
}

.fullWidth {
	position: relative;
	clear: both;
	margin-bottom: 45px;
	.thumb {
		margin: 0 5px;
	}
	img {
		display: inline-block;
	}
	a:hover {
		text-decoration: none;
		color: inherit;
	}
	/*remove gutters on bootstrap grids, so there is no horizontal overflow*/
	&.row.remove-gutter {
		margin-right: 0;
		margin-left: 0;
		& > .col-xs-1,
		& > .col-sm-1,
		& > .col-md-1,
		& > .col-lg-1,
		& > .col-xs-2,
		& > .col-sm-2,
		& > .col-md-2,
		& > .col-lg-2,
		& > .col-xs-3,
		& > .col-sm-3,
		& > .col-md-3,
		& > .col-lg-3,
		& > .col-xs-4,
		& > .col-sm-4,
		& > .col-md-4,
		& > .col-lg-4,
		& > .col-xs-5,
		& > .col-sm-5,
		& > .col-md-5,
		& > .col-lg-5,
		& > .col-xs-6,
		& > .col-sm-6,
		& > .col-md-6,
		& > .col-lg-6,
		& > .col-xs-7,
		& > .col-sm-7,
		& > .col-md-7,
		& > .col-lg-7,
		& > .col-xs-8,
		& > .col-sm-8,
		& > .col-md-8,
		& > .col-lg-8,
		& > .col-xs-9,
		& > .col-sm-9,
		& > .col-md-9,
		& > .col-lg-9,
		& > .col-xs-10,
		& > .col-sm-10,
		& > .col-md-10,
		& > .col-lg-10,
		& > .col-xs-11,
		& > .col-sm-11,
		& > .col-md-11,
		& > .col-lg-11,
		& > .col-xs-12,
		& > .col-sm-12,
		& > .col-md-12,
		& > .col-lg-12 {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

a.btn-outline {
	border-radius: 5px;
	border: 2px #59982b solid;
	color: #59982b;
	text-decoration: none;
	margin: 0 5px;
	width: 18%;
}
a.btn-outline:hover {
	background: #59982b;
	color: #fff;
}
.padTop {
	padding-top: 15px;
}

/*FONT CLASSES FOR FULL WIDTH PAGES*/
.bannerText,
.openText {
	position: absolute;
	font-size: 3.6em;
	font-family: MrEavesSans;
	font-weight: 200;
	p {
		margin: 0;
	}
}

.bannerText {
	.bannerHead {
		font-size: 4.5vw;
		line-height: 3.8vw;
		letter-spacing: 0.3vw;
	}
	.bannerSub {
		font-size: 1.75vw;
		line-height: 2.5vw;
		letter-spacing: 0.19vw;
		font-weight: bold;
	}
}

.openHead {
	font-size: 4.4vw;
	line-height: 3.6vw;
	letter-spacing: 0.3vw;
	color: #6aa639;
}

.openSub {
	font-size: 1.9vw;
	line-height: 2.2vw;
	letter-spacing: 0.19vw;
	font-weight: bold;
	color: #444;
}

.bannerSub.tightText,
.openSub.tightText {
	line-height: 1.4vw;
}

.doubleArrow {
	font-size: 1.5em;
}

/*--- 990px ---*/
@media only screen and (max-width: 990px) {
	.bannerText {
		.bannerHead {
			font-size: 44.55px !important;
			line-height: 37.62px !important;
			letter-spacing: 2.97px !important;
		}
		.bannerSub {
			font-size: 17.325px !important;
			line-height: 24.75px !important;
			letter-spacing: 1.881px !important;
		}
	}

	.openHead {
		font-size: 43.56px !important;
		line-height: 35.64px !important;
		letter-spacing: 2.97px !important;
	}
	.openSub {
		font-size: 18.81px !important;
		line-height: 21.78px !important;
		letter-spacing: 1.881px !important;
	}

	.bannerSub.tightText,
	.openSub.tightText {
		line-height: 13.86px !important;
	}
}

/*--- 1600px ---*/
@media only screen and (min-width: 1600px) {
	.bannerText .bannerHead {
		font-size: 72px !important;
		line-height: 60.8px !important;
		letter-spacing: 4.8px;
	}

	.bannerText .bannerSub {
		font-size: 28px !important;
		line-height: 40px !important;
		letter-spacing: 3.04px;
	}

	.openHead {
		font-size: 70.4px !important;
		line-height: 57.6px !important;
		letter-spacing: 4.8px;
	}
	.openSub {
		font-size: 30.4px !important;
		line-height: 35.2px !important;
		letter-spacing: 3.04px;
	}

	.bannerSub.tightText,
	.openSub.tightText {
		line-height: 22.4px !important;
	}
}
